@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

:root{
    --main-color: #D41D47;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .2s linear;
    font-family: 'Montserrat', sans-serif;
}

html{
   
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    background-image: url("img/taust4.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    padding-left: 20rem;
   
    
}

header{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background: #D41D47;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    flex-flow: column;
    padding: 8rem 2rem;
    text-align: center;
    
    
}

@media (min-width: 991.98px) {
main {
padding-left: 240px;
}
}

/* Sidebar */
.sidebar {
position: fixed;
top: 0;
bottom: 0;
left: 0;
padding: 58px 0 0; /* Height of navbar */
box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
width: 300px;
background: #D41D47;
z-index: 600;
font-size: 2rem;
}

@media (max-width: 991.98px) {
.sidebar {
width: 100%;
}
}
.sidebar .active {
border-radius: 5px;
box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.sidebar-sticky {
position: relative;
top: 0;
height: calc(100vh - 48px);
padding-top: 0.5rem;
overflow-x: hidden;
overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

header .navbar1 a{
    display: block;
    font-size: 1.5rem;
    margin: 2rem 0;
    color: #FFFFFF;
    text-align: center;
    margin-top: 50px;
}

header .navbar1 a:hover{
    letter-spacing: .2rem;
    color: #FFE3DD;
}

header .follow a{
    font-size: 1.5rem;
    color:#FFFFFF;
    margin: 0.7rem;
    align-items: center;
    margin-top: 100px;
}

header .follow a:hover{
    color: #FFE3DD;
}

.animate-character{
    background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 72px;
    margin-top: 50px;
    margin-right: 30%;
    position: relative;
}
@keyframes textclip {
    to {
      background-position: 200% center;
    }
}

.title {
    text-align: left;
    margin-bottom: 2rem;
    font-size: 32px;
}

.posts {
    background-color: var(--bg-color);
    padding: 40px 0;
    margin-top: 4rem;
    margin-right: 30%;
    position: relative;
}

.erialad{
	position: relative;
    display: flex;
    align-items: left;
    justify-content: space-between;
    flex-flow: column;
    padding: 8rem 2rem;
    width: 30rem;
	left: -180px;
}

.erialad .bakatitle{
	font-size: 42px;
    box-sizing: border-box;
    text-size-adjust: auto;
    border: 3px solid #D41D47;
    border-radius: 20px;
    display: inline;
    padding: 3px 14px;
}

.erialad .magistertitle{
	font-size: 42px;
    box-sizing: border-box;
    text-size-adjust: auto;
    border: 3px solid #D41D47;
    border-radius: 20px;
    display: inline;
    padding: 3px 14px;
}

.erialad .bakaerialad{
	font-size: 18px;
    margin-left: 20px;

}

.erialad .magistererialad{
	font-size: 18px;
    margin-left: 20px;
}

.erialad .bakaerialad a:hover {
    color:#D41D47;
    zoom: 110%;
}

.erialad .bakaerialad a{
    color: black;
}

.erialad .magistererialad a:hover {
    zoom: 110%;
    color:#D41D47;
}

.erialad .magistererialad a {
    color:black;
}